# Logs
logs
*.log
npm-debug.log*

# Environment
config/env.secret.*
env.secret.*

# Runtime data
pids
*.pid
*.seed

# Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# node-waf config
.lock-wscript

# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release

# Dependency directory
node_modules

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

# idea config
.idea

# Artifacts
data/
docs/

# Javascript / Typescript
dist/*
typings/
lib/*.js
test/*.js
*.map
